{% extends 'base/base.html' %} 

{% block page_title %} 歷史資料查詢 {% endblock %}

{% block page_content %}
<div class="row">
  <div class="col-sm-6 col-xs-12">
      <select id="place" style="width:100%">
        <option value="bao1">寶山場域 一</option>
        <option value="bao2">寶山場域 二</option>
        <option value="bao3">寶山場域 三</option>
        <option value="wu1">五峰場域 一</option>
        <option value="wu2">五峰場域 二</option>
        <option value="wu3  ">五峰場域 三</option>
      </select>
  </div>
  <div class="col-sm-6 col-xs-12">
      <select id="sensor" style="width:100%">
        <option value="AtPressure">大氣壓力</option>
        <option value="CO2">二氧化碳</option>
        <option value="Temperature">溫度</option>
        <option value="Humidity">濕度</option>
        <option value="WindSpeed">風速</option>
        <option value="RainMeter">雨量</option>
        <option value="Bugs">蟲數</option>
        <option value="UV1">UV - 1</option>
        <option value="UV2">UV - 2</option>
        <option value="UV3">UV - 3</option>
        <option value="Moisture1">土壤濕度 - A</option>
        <option value="PH1">土壤酸鹼 - A</option>
        <option value="Moisture2">土壤濕度 - B</option>
        <option value="PH2">土壤酸鹼 - B</option>
        <option value="Moisture3">土壤濕度 - C</option>
        <option value="PH3">土壤酸鹼 - C</option>
        <option value="Moisture4">土壤濕度 - D</option>
        <option value="PH4">土壤酸鹼 - D</option>
      </select>
  </div>
  <hr>
  <div class="col-xs-12">
          <!-- interactive chart -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>

              <h3 class="box-title">歷史圖表</h3>

              <!--<div class="box-tools pull-right">
                Real time
                <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                  <button type="button" class="btn btn-default btn-xs active" data-toggle="on">On</button>
                  <button type="button" class="btn btn-default btn-xs" data-toggle="off">Off</button>
                </div>
              </div>-->
            </div>
            <div class="box-body">
              <div id="interactive" style="height: 300px;"></div>
            </div>
            <!-- /.box-body-->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col -->
</div>

{% endblock %}

{% block page_script %}
<!-- Page script -->
<script>
  var interactive_plot = null;
  var updateInterval = 1000 //Fetch data ever x milliseconds
  $(() => {
    let hash = window.location.hash.replace('#', '').split(',');
    if(hash[0]){
      $('#place').val(hash[0]);
      $('#sensor').val(hash[1]);
    }

    $(document).on('change', '#place', function(){console.log('place', this.value);});
    $(document).on('change', '#sensor', function(){console.log('sensor', this.value);});

    $(window).on('hashchange', function (a) {
      console.log(window.location.hash);
    })

    var previousPoint = null, previousLabel = null, temp_data = null;
 
    $.fn.UseTooltip = function () {
      $(this).bind("plothover", function (event, pos, item) {
        if (item) {
          if ((previousLabel != item.series.label) || 
             (previousPoint != item.dataIndex)) {
            previousPoint = item.dataIndex;
            previousLabel = item.series.label;
            $("#tooltip").remove();
 
            let idx = item.datapoint[0];
            let value = item.datapoint[1];

            let color = item.series.color;                        
         
            showTooltip(item.pageX,
                        item.pageY,
                        color,
                        temp_data[idx][0] + "<br><strong>" + value + "</strong>");
            }
        } else {
          $("#tooltip").remove();
          previousPoint = null;
        }
      });
    };
 
    function showTooltip(x, y, color, contents) {
      $('<div id="tooltip">' + contents + '</div>').css({
        position: 'absolute',
        display: 'none',
        top: y - 10,
        left: x + 10,
        border: '2px solid ' + color,
        padding: '3px',
        'font-size': '9px',
        'border-radius': '5px',
        'background-color': '#fff',
        'font-family': 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
        opacity: 0.9
      }).appendTo("body").fadeIn(200);
    }

    $.plot('#interactive', [], {
      grid  : {
        borderColor: '#f3f3f3',
        borderWidth: 1,
        tickColor  : '#f3f3f3'
      },
      series: {
        shadowSize: 0, // Drawing is faster without shadows
        color     : '#3c8dbc'
      },
      lines : {
        fill : true, //Converts the line chart to area chart
        color: '#3c8dbc'
      },
      yaxis : {
        show: true
      },
      xaxis : {
        show: true,
        tickColor: 'transparent'
      }
    })
    $('#interactive').UseTooltip();

    function getData(place, sensor, callback) {
      $.ajax({
        'url': '/datas/' + place + '/' + sensor,
      }).done((data) => {
        if(callback && data && data[sensor]) {
          callback(data[sensor].reverse());
        } else {
          callback([]);
        }
      }).fail(() => {
        callback([]);
      });
    }

    /*
    var realtime       = 'on' //If == to on then fetch data every x seconds. else stop fetching
    function update() {

      interactive_plot.setData([getRandomData()])

      // Since the axes don't change, we don't need to call plot.setupGrid()
      interactive_plot.draw()
      if (realtime === 'on')
        setTimeout(update, updateInterval)
    }

    //INITIALIZE REALTIME DATA FETCHING
    if (realtime === 'on') {
      //update()
    }
    //REALTIME TOGGLE
    $('#realtime .btn').click(function () {
      if ($(this).data('toggle') === 'on') {
        realtime = 'on'
      }
      else {
        realtime = 'off'
      }
      update()
    })*/


    function update() {
      getData($('#place').val(), $('#sensor').val(), (data) => {
        let res = [];
        let max = -Infinity;
        let min = Infinity;
        let x_tick = [];
        data.forEach((element, idx) => {
          if (element[1] > max) {
            max = element[1];
          }
          if (element[1] < min) {
            min = element[1];
          }
          res.push([idx, element[1]]);
          if (idx % 10 == 0) {
            x_tick.push([idx, element[0]]);
          }
        })

        let y_max_index = 10 ** (Math.log10(max) - 1);
        if (!y_max_index) { y_max_index = 1;}
        let y_max = (Math.ceil(max / y_max_index) + 1) * y_max_index;

        let y_min_index = 10 ** (Math.log10(min) - 1);
        if (!y_min_index) { y_min_index = 1;}
        let y_min = (Math.round(min / y_min_index) - 1) * y_min_index;

        if (y_max == y_min) {
          y_max += 10;
          y_min -= 10;
        }

        if (y_min < 0) {
          y_min = 0;
        }

        $.plot('#interactive', [res], {
          grid  : {
            borderColor: '#f3f3f3',
            borderWidth: 1,
            tickColor  : '#f3f3f3',
            hoverable: true,
            borderWidth: 2,
            backgroundColor: { colors: ["#ffffff", "#EDF5FF"] }
          },
          series: {
            shadowSize: 0, // Drawing is faster without shadows
            color     : '#3c8dbc',
            lines : {
              fill : true, //Converts the line chart to area chart
              color: '#3c8dbc',
              show: true
            },
          },
          yaxis : {
            min: y_min,
            max: y_max,
            show: true
          },
          xaxis : {
            show: true,
            ticks: x_tick,
            tickColor: 'transparent'
          }
        });
        temp_data = data;

        setTimeout(update, updateInterval);
      });
    }
    update();
  });
</script>
{% endblock %}
